﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UseCtr.aspx.cs" Inherits="sample.UseCtr" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        	<asp:Button ID="Button1" runat="server" Text="Button" />
			<asp:TextBox ID="TextBox1" runat="server" OnTextChanged="TextBox1_TextChanged"></asp:TextBox>
        </div>
    </form>
</body>
</html>
